{% extends "base.html" %}

{% block title %}
    Crawl
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<h2>Crawl Tweet Data</h2>
<form method="POST" action="/result">
    <div class="form-group col-md-6">
        <label>Search Query</label>
        <input type="text" class="form-control" name="keywords" placeholder="Search Query" required>
    </div>

    <div class="form-group col-md-4">
        <label>Start Date</label>
        <input type="date" class="form-control" name="start_date" required>
    </div>

    <div class="form-group col-md-4">
        <label>End Date</label>
        <input type="date" class="form-control" name="end_date" placeholder="End Date" required>
    </div>

    <div class="form-group col-md-2">
        <label>Tweet count</label>
        <input type="number" class="form-control" name="count" required>
    </div>

    <input type="submit" class="btn btn-success" value="Submit">
</form>
{% endblock %}