{% extends "base.html" %}

{% block title %}
    Index
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<h1>Index</h1>
<h2>
    Hello World! {{ home }}
</h2>
{% endblock %}