{% extends "base.html" %}

{% block title %}
Crawl Result
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<h2>
    Crawl Result
</h2>
<table class="table">
    {% for val in tweets %}
        <tr>
            <td>{{ val.date }}</td>
            <td>{{ val.text }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}